NET "Clk_100M" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "Clk_100M" PERIOD = 10 ns HIGH 5 ns;


NET "COLOUR_OUT<0>" LOC = "A3" | IOSTANDARD = LVCMOS33 | TIG; //Red 0
NET "COLOUR_OUT<1>" LOC = "B4" | IOSTANDARD = LVCMOS33 | TIG; //Red 1
NET "COLOUR_OUT<2>" LOC = "C5" | IOSTANDARD = LVCMOS33 | TIG; //Red 2
NET "COLOUR_OUT<3>" LOC = "A4" | IOSTANDARD = LVCMOS33 | TIG; //Red 3

NET "COLOUR_OUT<4>" LOC = "C6" | IOSTANDARD = LVCMOS33 | TIG; //Green 0
NET "COLOUR_OUT<5>" LOC = "A5" | IOSTANDARD = LVCMOS33 | TIG; //Green 1
NET "COLOUR_OUT<6>" LOC = "B6" | IOSTANDARD = LVCMOS33 | TIG; //Green 2
NET "COLOUR_OUT<7>" LOC = "A6" | IOSTANDARD = LVCMOS33 | TIG; //Green 3

NET "COLOUR_OUT<8>"  LOC = "B7" | IOSTANDARD = LVCMOS33 | TIG; //Blue 0
NET "COLOUR_OUT<9>"  LOC = "C7" | IOSTANDARD = LVCMOS33 | TIG; //Blue 1
NET "COLOUR_OUT<10>" LOC = "D7" | IOSTANDARD = LVCMOS33 | TIG; //Blue 2
NET "COLOUR_OUT<11>" LOC = "D8" | IOSTANDARD = LVCMOS33 | TIG; //Blue 3

NET "HS" LOC = "B11" | IOSTANDARD = LVCMOS33 | TIG; //Horizontal Synch output
NET "VS" LOC = "B12" | IOSTANDARD = LVCMOS33 | TIG; //Vertical Synch output

NET "reset" LOC = E16 | IOSTANDARD = LVCMOS33 | TIG;