//! **************************************************************************
// Written by: Map P.20131013 on Thu May 12 15:01:42 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Clk_100M" LOCATE = SITE "E3" LEVEL 1;
NET "Clk_100M_IBUF" PERIOD = 10 ns HIGH 5 ns;
SCHEMATIC END;

