//! **************************************************************************
// Written by: Map P.20131013 on Tue May 17 23:08:57 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK_100MHz" LOCATE = SITE "E3" LEVEL 1;
COMP "HS" LOCATE = SITE "B11" LEVEL 1;
COMP "VS" LOCATE = SITE "B12" LEVEL 1;
COMP "COLOUR_OUT<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "COLOUR_OUT<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "COLOUR_OUT<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "reset" LOCATE = SITE "E16" LEVEL 1;
COMP "COLOUR_OUT<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "COLOUR_OUT<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "COLOUR_OUT<10>" LOCATE = SITE "D7" LEVEL 1;
COMP "COLOUR_OUT<5>" LOCATE = SITE "A5" LEVEL 1;
COMP "COLOUR_OUT<11>" LOCATE = SITE "D8" LEVEL 1;
COMP "COLOUR_OUT<6>" LOCATE = SITE "B6" LEVEL 1;
COMP "COLOUR_OUT<7>" LOCATE = SITE "A6" LEVEL 1;
COMP "COLOUR_OUT<8>" LOCATE = SITE "B7" LEVEL 1;
COMP "COLOUR_OUT<9>" LOCATE = SITE "C7" LEVEL 1;
NET "CLK_100MHz_BUFGP/IBUFG" PERIOD = 10 ns HIGH 5 ns;
PIN COLOUR_OUT_11_OBUF_pins<1> = BEL "COLOUR_OUT_11_OBUF" PINNAME OUT;
PIN COLOUR_OUT_10_OBUF_pins<1> = BEL "COLOUR_OUT_10_OBUF" PINNAME OUT;
PIN COLOUR_OUT_9_OBUF_pins<1> = BEL "COLOUR_OUT_9_OBUF" PINNAME OUT;
PIN COLOUR_OUT_8_OBUF_pins<1> = BEL "COLOUR_OUT_8_OBUF" PINNAME OUT;
PIN COLOUR_OUT_7_OBUF_pins<1> = BEL "COLOUR_OUT_7_OBUF" PINNAME OUT;
PIN COLOUR_OUT_6_OBUF_pins<1> = BEL "COLOUR_OUT_6_OBUF" PINNAME OUT;
PIN COLOUR_OUT_5_OBUF_pins<1> = BEL "COLOUR_OUT_5_OBUF" PINNAME OUT;
PIN COLOUR_OUT_4_OBUF_pins<1> = BEL "COLOUR_OUT_4_OBUF" PINNAME OUT;
PIN COLOUR_OUT_3_OBUF_pins<1> = BEL "COLOUR_OUT_3_OBUF" PINNAME OUT;
PIN COLOUR_OUT_2_OBUF_pins<1> = BEL "COLOUR_OUT_2_OBUF" PINNAME OUT;
PIN COLOUR_OUT_1_OBUF_pins<1> = BEL "COLOUR_OUT_1_OBUF" PINNAME OUT;
PIN COLOUR_OUT_0_OBUF_pins<1> = BEL "COLOUR_OUT_0_OBUF" PINNAME OUT;
PIN HS_OBUF_pins<1> = BEL "HS_OBUF" PINNAME OUT;
PIN VS_OBUF_pins<1> = BEL "VS_OBUF" PINNAME OUT;
PIN reset_pins<0> = BEL "reset" PINNAME PAD;
PIN "COLOUR_OUT_11_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_10_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_9_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_8_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_7_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_6_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_5_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_4_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_3_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_2_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_1_OBUF_pins<1>" TIG;
PIN "COLOUR_OUT_0_OBUF_pins<1>" TIG;
PIN "HS_OBUF_pins<1>" TIG;
PIN "VS_OBUF_pins<1>" TIG;
PIN "reset_pins<0>" TIG;
SCHEMATIC END;

